<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="styles.css?v.5">
	<script src="vue.min.js"></script>
</head>
<body>
    <div id="app">
        <canvas id="graph" v-show="web_show_lines"></canvas>
        <div
            class="param"
            v-if="params_init" 
            v-for="(value, name, index) in cur_params"
            v-bind:class="{ odd: ((index % 2) == 1)}"
        />
            <table>
                <tr>
                    <td rowspan="2" class="param_info">{{ get_param_info(name).descr }}</td>
                    <td>{{ cur_params[name] }}</td>
                </tr>
                <tr>                    
                    <td>
                        <input
                            v-if="get_param_info(name).type == 3"
                            type="checkbox"
                            v-bind:class="name.slice(3)"
                            v-model="new_params[name]"
                            true-value=1
                            false-value=0
                        />
                        <input
                            v-else
                            type="text"
                            v-bind:class="name.slice(3)"
                            v-model="new_params[name]"
                        />
                    </td>
                </tr>
             </table>
        </div>
        <div class="buttons">
            <button v-on:click="get_params">Получить текущие параметры</button>
            <button v-on:click="apply_params">Применить новые параметры</button>
            <button v-on:click="save_params">Сохранить новые параметры</button>
        </div>
        <div class="status" v-bind:class="{ status_error_class: !status_ok, status_ok_class: status_ok }">
            {{ status_text }}
            <span v-if="status_ok">успешно!</span><span v-else>возникла ошибка!</span>
        </div>        
    </div>
    <script src="vueapp.js?v.5"></script>
</body>
</html>